/*Styles for the page*/
body {
	font-family: Arial, Helvetica, sans-serif;
	background: url('pictures/bg-image.jpg') no-repeat center center fixed;
}

.content {
	width: 100%;
	margin-top: 10%;
}

.content div {
	text-align: center;
}

.title {
	text-align: center;
	color: white;
	text-shadow: 1px 1px black;
}

/*Inputs*/
input {
	padding: 10px;
	font-size: 16px;
}

.edit-input {
	float: right;
}

/*Buttons*/
button {
	padding: 10px;
	font-size: 16px;
	border: none;
	background-color: #4caf50;
	color: white;
	text-shadow: 1px 1px black;
	margin: 2px;
}

/*lLst elements*/
ul {
	margin: auto;
	width: 50%;
}

li {
	list-style: none;
	font-size: 25px;
	width: 100%;
	text-align: initial;
	margin: auto;
	margin-top: 4px;
	border: 1px solid black;
	background-color: #bccad7;
	float: left;
	padding: 10px 5px;
}

li button {
	float: right;
}

/*footer*/
footer {
  position: absolute;
  bottom: 0;
  margin: 0 auto 0 35%; 
  width: 30%;
  padding: 10px;
  background-color: #efefef;
  text-align: center;
}

#heart {
	height: 3%;
	width: 3%;
}